* {
  box-sizing: border-box;
}

body{
  margin: auto;
  background-color: #2B283A;
  padding: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tanzies{
  margin: -25px 0 0 -25px;
  width: 320px;
  height: 320px;
  border-radius: 10px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.title {
font-size: 40px;
margin: 0;
}

.instructions {
font-family: 'Inter', sans-serif;
font-weight: 400;
margin-top: 0;
text-align: center;
}

.dice-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.dice{
  width: 34px;
  height: 34px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.dice-dot{
  --left: 50%;
  --top: 50%;

  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;

  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.roll-btn {
width: 92px;
height: 36px;
background-color: #5035FF;
border-radius: 5px;
position: relative;
bottom: -10%;
color: white;
}